<h2><%= image_tag @user.avatar %> <%= @user.username %>'s profile</h2>
<p><%= @user.username %> has <%= pluralize @user.friends.count, "friend" %></p>
<br>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>E-mail Address</th>
    </tr>
  </thead>
    <tr>
      <td><%= @user.firstname %></td>
      <td><%= @user.lastname %></td>
      <td><%= @user.email %></td>
  </tr>
</table>
      

<h2>Friends</h2>
<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%=h friendship.friend.try(:username) %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>
<br>

<p><%= link_to 'Return to users', users_path %></p>
