<h2><%= @user.username %>'s profile</h2>
<p><%= @user.username %> has <%= @user.friends.count %> friend(s).</p>
<br>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>E-mail Address</th>
    </tr>
  </thead>
    <tr>
      <td><%= @user.firstname %></td>
      <td><%= @user.lastname %></td>
      <td><%= @user.email %></td>
  </tr>
</table>
      

<h2>Friends</h2>
<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%=h friendship.friend.username %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.username %></li>
  <% end %>
</ul>

<%= link_to 'Return to users', users_path %>
