<% if current_user %>
<%= form_for @game do |f| %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :platform %><br>
  <%= f.text_field :platform %>
</p>
<p>
  <%= f.label :release %><br>
  <%= f.text_field :release %>
</p>
<p>
  <%= f.submit "Add Game" %>
</p>
<% end %>
<% end %>