<h1><%= @game.title %></h1>

<p>
  <strong>Platform:</strong>
  <%= @game.platform %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @game.release %>
</p>

<p>
  <strong>Number of players:</strong>
 </p>
    


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>