<h1><%= @game.title %></h1>

<p>
  <strong>Platform:</strong>
  <%= @game.platform %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @game.release %>
</p>

<p>
  <strong>Number of players:</strong>
 </p>
 
<h3>Add comment about <%= @game.title %>:</h3>
  <% @game.comments.each do |comment| %>
      <br>
      <%= comment.content %><br>
  <% end %>

<%= form_for([@game, @game.comments.build]) do |f| %>
<p><br>
   <%= f.text_area :content %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
  


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>