<!DOCTYPE html>
<html>
<head>
  <title>DuckGoose</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-default">
     <div class="navbar-inner">
      <div class="navbar-brand">
        <%= link_to "DuckGoose", users_path %>
      </div> 
          <% if current_user %>
          <p class="navbar-text current-student">
          <%= link_to "All users", users_path %> |
          <%= link_to "All games", games_path %>
           <% else %>
           <% end %>
      </p>
    </div>

    <div class="collapse navbar-collapse navbar-right">
       <% if current_user %>
          <%= link_to "Edit your profile", profile_path %>
          <%= link_to "Sign out", sign_out_path, class: "btn btn-default navbar-btn" %>
       <% else %>
          <%= link_to "Sign up", new_user_path, class: "btn btn-default navbar-btn" %>
          <%= link_to "Sign in", new_session_path, class: "btn btn-primary navbar-btn" %>
       <% end %>
    </div>
  </nav>
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %> push--top">
      <%= value %>
    </div>
  <% end %>
  
<%= yield %>
</div>
</body>
</html>
